.notification-container {
  border: 2px solid #63636380;
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 50px 20px;
}

.notification-item {
  display: flex;
  align-items: center;
}

.notification-profile {
  position: relative;
}

.profile-img {
  width: 73px;
  height: 60px;
  border-radius: 50%;
}

.bell-icon {
  position: absolute;
  bottom: 0px;
  right: 10px;
  background-color: #0e5fc3;
  border-radius: 50%;
  padding: 3px;
  color: white;
  font-size: 17px;
}

.notification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 10px;
}

.notification-text {
  margin-left: 20px;
  margin-top: 10px;
}

.dots-icon {
  font-size: 20px; 
  margin-left: 10px; 
  color: #636363;
}
